# --- Web Framework ---
fastapi
uvicorn[standard]
python-multipart

# --- LangChain + Vector DB ---
langchain-core
langchain-community
langchain-chroma
langchain-text-splitters
langchain-classic
langchain-google-genai
chromadb
langchain-google-genai
langchain-ollama

# --- PDF & Immagini ---
pymupdf
pdf2image
pillow
pytesseract
deepdoctection[full]
numpy
opencv-python

# --- Utilities ---
pydantic
typing-extensions
tqdm